body{
	color:white;
	background-color:black;
}
header{
	text-align:center;
}
.subtitulo{
	margin:10px;
	text-align:center;
}
footer{
	border:1px solid #fff;
	border-radius:2px;
	text-align:center;
}